# OS
.DS_Store

# IDE
.idea/
*.iml
.vscode/
*.swp

# JBang
.jbang/

# Javagit s
*.jar

# Environment
.env
.env.*

# Secrets
*.pem
*.key

# Build output
out/
MainFX
Main

# Native libraries
*.so
*.dylib
